@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

$gutters: (
	s: 0.8rem,
	m: 1.6rem,
	l: 3.2rem
);

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html {
    font-size: 62.5%;
}

body {
	font-size: 1.6em;
	line-height: 1.6;
	letter-spacing: 0.01em;
	text-align: center;
	color: #2C2156;
	background: #fff;
	
	@media (min-width: 640px) {
		line-height: 1.4;
	}
}

a {
	color: #2C2156;
	font-weight: bold;
	text-decoration: none;
	word-wrap: break-word;
	transition: opacity .3s;
	
	&:hover {
		opacity: 0.8;
	}
}

svg {
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    top: -1px;
    box-sizing: content-box;
    pointer-events: none;
}

input {
	outline: none;
	border: none;
	font-size: 2rem;
	height: 5.4rem;
	padding: 0 map-get($gutters, s);
	border-radius: 0.4rem;
	width: 100%;
	
	@media (min-width: 640px) {
		width: auto;
	}
}

input[type=email],
input[type=email]:-webkit-autofill {
	background: #fff;
	border: 3px solid white;
	transition: border .3s;
	margin-bottom: 0.8rem;
	
	@media (min-width: 640px) {
		margin-bottom: 0;
	}

	&:focus {
		outline-color: transparent;
		outline-style: none;
		border: 3px solid #69EBD0;
	}
}

input[type=submit] {
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 map-get($gutters, m);
	background: #69EBD0;
	font-size: 17px;
    letter-spacing: .075rem;
	transition: background 0.3s;
	
	&:hover {
		background: #58DCC0;
	}
	
	&:active {
		background: #7BF8DE;
	}
}

.action {
	
	&-social {
		transition: opacity .3s;
		
		&:hover {
			opacity: 0.8;
		}
	}
}

.inner {
	max-width: 75rem;
	margin: auto;
	padding: 0 map-get($gutters, s);
	
	@media (min-width: 640px) {
		padding: 0 map-get($gutters, m);
	}
}

.header {
	padding: map-get($gutters, l) map-get($gutters, m);
	
	&__logo {
		max-width: 20rem;
		margin: auto;
		
		@media(min-width: 640px) {
			max-width: 30rem;
		}
		
		> svg {
			max-width: 100%;
		}
	}
}

.content {
	padding: map-get($gutters, s);
	background: #eee;
	
	@media (min-width: 640px) {
		padding: map-get($gutters, m);
	}
}

.signup {
	background: #2C2156;
	padding: map-get($gutters, m) map-get($gutters, s);
	
	@media (min-width: 640px) {
		padding: 2.8rem map-get($gutters, m);
	}
	
	&__heading {
		color: white;
		text-transform: uppercase;
		margin: 0;
	}
	
	&__subheading {
		color: white;
		margin: 0 0 map-get($gutters, m) 0;
	}
}

.social {
	background: #f7cc2e;
	padding: 1.6rem;
	border-top: 1px solid rgba(#CEA50C, 0.5);
}

.form {
	max-width: 60rem;
	margin: auto;
	
	@media (min-width: 640px) {
		padding: 0 map-get($gutters, m);
		display: flex;
	}
	
	&__input {
		@media (min-width: 640px) {
			flex: 1;
		}
	}
	
	&__action {
	
		@media (min-width: 640px) {
			margin-left: map-get($gutters, s);
			width: 14rem;
		}
	}
}

.actions {
	
	&__action {
		margin: 0 0.4rem;
	}
}
